<a [title]="product.model">
  <div>
    <img [src]="product.photo" height="300px" [alt]="product.model" />
  </div>
  <h3 class="model">
    {{
      (product.model | slice: 0:26) + (product.model.length > 26 ? ".." : "")
        | lowercase
    }}
  </h3>
  <p class="reference">{{ product.reference }}</p>
  <h5 class="price">{{ product.price | currency: "BRL" }}</h5>

  <div class="card-complement">
    <div class="card-complement-buttom">
      <a class="button-bag"><span>adicionar a sacola </span></a>
    </div>
  </div>
</a>
