<a [title]="product.model">
  <div>
    <img [src]="product.photo" height="300px" [alt]="product.model" />
  </div>
  <h3 class="model">
    {{ product.model | bigText: 26 | lowercase }}
  </h3>

  <p class="reference">{{ product.reference }}</p>

  <div class="po-row">
    <div class="po-md-12 po-mt-1 buy-price">
      <p>compre por</p>
      <h5
      >
        {{ product.price | currency: "BRL" }}
      </h5>
    </div>

    <div class="po-md-12 price">
      <p>venda por</p>
      <h5>{{ product.originPrice | currency: "BRL" }}</h5>
    </div>
  </div>

  <div class="card-complement" (click)="internalBagClick()">
    <div class="card-complement-buttom">
      <a (click)="internalBagClick()"
        class="button-bag"
        
        ><span>adicionar a sacola </span></a
      >
    </div>
  </div>
</a>
