<po-page-list p-title="Fotos de produto" 
    [p-breadcrumb]="breadcrumb" 
    [p-disclaimer-group]="disclaimerGroup"
    [p-filter]="configuracoesDeFiltro">


      <po-popover [p-target]="poButton" 
          p-trigger="click"
          p-position="left-top"
          p-title="Informações do mapa">

          <po-progress p-info="{{ obterTotalDeItensComFoto() }}/ {{ obterTotalDeItens() }}" 
              p-info-icon="po-icon-ok" 
              [p-status]="progressStatus" 
              p-text="Produtos com foto"
              [p-value]="obterProgressoDaInclusaoDeFotos()">
          </po-progress>
          
          <po-divider></po-divider>
          
          <po-switch *ngIf="obterTotalDeItensComFoto() < obterTotalDeItens()" 
              name="filtroSemFoto"
              p-label="Sem fotos"
              p-label-off="Não"
              p-label-on="Sim"
              p-tooltip="Exibir somente itens sem foto"
              p-tooltip-position="left"
              [(ngModel)]="exibirSomenteProdutosSemFotos">
          </po-switch>
      </po-popover>
      
      <po-container
        class="fab-info"
        p-no-padding="true"
        [hidden]="!fotosProdutos.length">
  
        <po-button p-icon="po-icon po-icon-info"
                   p-small="true"
                   p-type="primary"> 
        </po-button>    
        
      </po-container>

    
    <ng-container *ngIf="fotosProdutos.length; else noItens">        
        <cdk-virtual-scroll-viewport style="height: 100%;" 
            itemSize="1" >
            
            <ng-container  *cdkVirtualFor="let item of produtosFiltrados()">
              <app-produto-view 
                  [produto]="item"
                  (detalhar)="abrirEditModal(item)">
              
              </app-produto-view>
            </ng-container>
              
        </cdk-virtual-scroll-viewport>
    </ng-container>
      
    <ng-template #noItens>
      Não há dados para exibir. {{ mensagemDeErro | json }}
    </ng-template>

</po-page-list>

<po-modal #filtroAvancado 
    p-title="Filtro avançado" 
    [p-primary-action]="advancedFilterPrimaryAction">

  <form #f>

    <div class="po-row">

      <div class="po-md-6">

        <po-combo name="colecaoSelecionada" 
            [(ngModel)]="colecaoSelecionada" 
            p-label="Coleção"
            [p-options]="colecoes">
        </po-combo>
      </div>

      <div class="po-md-6">

        <po-combo name="mapaSelecionado" 
            [(ngModel)]="mapaSelecionado" 
            p-label="Mapa" 
            [p-options]="mapas">
        </po-combo>
      </div>

    </div>

  </form>

</po-modal> 

<po-modal #produtoEditModal 
    [p-title]="tituloProdutoEditModal">
     <app-produto-edit>

    </app-produto-edit>

</po-modal>