<po-page-default
  p-title="{{
    salesOpportunityId == 0 ? 'Nova' : 'Editar'
  }} oportunidade de venda"
  [p-breadcrumb]="breadcrumb"
>
  <po-tabs>
    <po-tab p-label="Oportunidade de venda" p-active>
      <app-sales-opportunity-form
        [salesOpportunity]="salesOpportunity"
      ></app-sales-opportunity-form>
    </po-tab>

    <po-tab p-label="Produtos" [p-disabled]="salesOpportunityId == 0">
      <app-sales-opportunity-products
        [salesOpportunityId]="salesOpportunityId"
        [salesOpportunity]="salesOpportunity"
      ></app-sales-opportunity-products>
    </po-tab>

    <po-tab
      p-label="Restrição por grupo de venda"
      [p-disabled]="salesOpportunityId == 0"
    >
      <app-sales-opportunity-sales-group
        [salesOpportunityId]="salesOpportunityId"
      >
      </app-sales-opportunity-sales-group>
    </po-tab>

    <po-tab
      p-label="Restrição por cliente"
      [p-disabled]="salesOpportunityId == 0"
    >
      <app-sales-opportunity-client
        [salesOpportunityId]="salesOpportunityId"
      ></app-sales-opportunity-client>
    </po-tab>

    <po-tab
      p-label="Restrição por representante"
      [p-disabled]="salesOpportunityId == 0"
    >
      <app-sales-opportunity-representative
        [salesOpportunityId]="salesOpportunityId"
      ></app-sales-opportunity-representative>
    </po-tab>
  </po-tabs>
</po-page-default>
