<po-page-default [p-breadcrumb]="breadcrumb">
  <po-tabs *ngIf="client; else nothingToShow">
    <po-tab p-label="informação geral">
      <app-client-form [client]="client.cliente"> </app-client-form>
    </po-tab>

    <po-tab p-label="Contatos" p-active>
      <app-client-contacts
        [contacts]="client.contatos"
        [clientId]="clientId"
      ></app-client-contacts>
    </po-tab>

    <po-tab p-label="Referências comerciais">
      <app-client-comercial-references
        [comercialReferences]="client.referenciasComerciais"
      ></app-client-comercial-references>
    </po-tab>

    <po-tab p-label="Fotos do ponto">
      <app-client-photos-of-point
        [photosOfPoint]="client.fotoDosPontos"
      ></app-client-photos-of-point>
    </po-tab>
  </po-tabs>

  <ng-template #nothingToShow>
    Não foi possível carregar os dados do cliente
  </ng-template>
</po-page-default>
