<form #form="ngForm">
  <div class="po-row">
    <po-input
      p-no-autocomplete
      #cnpj
      class="po-md-3"
      name="cnpj"
      p-clean
      p-icon="po-icon po-icon-company"
      p-label="CNPJ"
      p-mask="99.999.999/9999-99"
      [(ngModel)]="commercialReference.cnpj"
      p-required
      p-auto-focus
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="company"
      p-clean
      p-label="Empresa"
      [(ngModel)]="commercialReference.company"
      p-required
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="contact"
      p-clean
      p-label="Contato"
      [(ngModel)]="commercialReference.contact"
      p-required
    >
    </po-input>

    <po-button
      [p-disabled]="form.invalid"
      (p-click)="add(); cnpj.focus()"
      p-icon="po-icon po-icon-plus"
      style="align-self: flex-end;"
      class="po-mb-1"
      p-tooltip="Incluir"
    ></po-button>
  </div>

  <po-divider></po-divider>
  <po-table
    [p-items]="commercialReferences | maskArray: 'cnpj':'99.999.999/9999-99'"
  ></po-table>
</form>
