<div class="po-row flex-box">
  <h4 class="body-title" *ngIf="groupProduct">
    {{
      groupProduct?.group +
        " | " +
        groupProduct?.category | lowercase
    }}
  </h4>
  <po-divider class="po-md-12"></po-divider>
</div>

<div class="po-row po-mt-1 po-mb-5">
  <ab-card-product
    *ngFor="let item of groupProduct?.catalogProduct; let i = index"
    class="po-md-4 po-mb-2 card-product"
    [product]="item"
    [bagId]="bagId"
    (bagClick)="internalCardProductClick()"
  ></ab-card-product>
</div>
