<div class="po-row" >
  <po-upload
    name="fachada"
    p-label="Fachada"
    p-url="https://thf.totvs.com.br/sample/api/uploads/addFile"
    p-auto-upload="true"
  >
  </po-upload>
</div>

<po-divider></po-divider>

<div class="po-row">
  <po-upload
    name="daPortaParaOsFundos"
    p-label="Da porta para os fundos"
    p-url="https://thf.totvs.com.br/sample/api/uploads/addFile"
    p-auto-upload="true"
  >
  </po-upload>
</div>

<po-divider></po-divider>

<div class="po-row">
  <po-upload
    name="dosFundosPraPorta"
    p-label="Dos fundos pra porta"
    p-url="https://thf.totvs.com.br/sample/api/uploads/addFile"
    p-auto-upload="true"
  >
  </po-upload>
</div>
