<ab-side-menu #sideMenu>
  <div title>
    <ab-filter-title
      [title]="opportunityActive?.name"
      (actionTitleClick)="sideMenu.showSideMenu = true"
    ></ab-filter-title>
  </div>

  <div titleSide>
    <ab-filter-title
      [title]="opportunityActive?.name"
      (actionTitleClick)="sideMenu.showSideMenu = true"
    ></ab-filter-title>
  </div>

  <div body>
    <div class="po-row po-mb-2 search">
      <i class="po-icon po-icon-search po-md-2"></i>
      <input
        #inputSearch
        class="search po-md-10"
        type="text"
        name="search"
        placeholder="referência"
        [(ngModel)]="cod"
        onfocus="this.value=''"
        (keyup.enter)="getByCod(cod)"
      />
      <div class="po-md-12 flex-box po-mt-1">
        <a class="button-search" (click)="getByCod(cod)"><span>buscar</span></a>
      </div>
    </div>

    <div class="po-row">
      <ab-filter-box
        *ngIf="opportunityActive"
        class="po-md-12"
        [filters]="opportunityActive.priceList"
        [filterActive]="priceActive"
        title="Preços"
        fieldIterator="name"
        (filterClick)="priceActive = $event; SetPrice($event)"
      ></ab-filter-box>
    </div>

    <div class="po-row">
      <ab-filter-box
        *ngIf="opportunityActive"
        class="po-md-12"
        [filterActive]="filterActive"
        [filters]="opportunityActive.filters"
        title="mapas"
        fieldIterator="map"
        (filterClick)="filterActive = $event; changeFilter()"
      ></ab-filter-box>
    </div>

    <po-divider></po-divider>

    <div class="po-row"   *ngIf="opportunityActive">
      <po-container #categoryContainer
      
        p-no-shadow
        p-no-border
        p-height="300"
      >
        <div *ngFor="let item of filterActive?.groups">
          <ab-filter-box
            [filterActive]="categoryActive"
            [filters]="item?.categories"
            [title]="item.group"
            (filterClick)="
              categoryActive = $event;
              groupActive = item.group;
              setParamsFilter(true, item.group)
            "
          ></ab-filter-box>
        </div>
      </po-container>
    </div>
  </div>
</ab-side-menu>
