<ab-side-menu #sideMenu>
  <div title>
    <ab-filter-title
      [title]="opportunityActive?.name"
      (actionTitleClick)="sideMenu.showSideMenu = true"
    ></ab-filter-title>
  </div>

  <div titleSide>
    <ab-filter-title
      [title]="opportunityActive?.name"
      (actionTitleClick)="sideMenu.showSideMenu = true"
    ></ab-filter-title>
  </div>

  <div body>
    <div class="po-row">
      <ab-filter-box
        class="po-md-12"
        [filterActive]="filterActive"
        [filters]="opportunityActive?.filters"
        title="mapas"
        fieldIterator="map"
        (filterClick)="filterActive = $event; changeFilter()"
      ></ab-filter-box>
    </div>

    <po-divider></po-divider>

    <div class="po-row">
      <po-container  p-no-shadow p-no-border p-height="300">
        <div  *ngFor="let item of filterActive?.groups">
          <ab-filter-box
            
            [filterActive]="categoryActive"
            [filters]="item?.categories"
            [title]="item.group"            
            (filterClick)="categoryActive = $event; setFilter()"
          ></ab-filter-box>
        </div>
      </po-container>

    </div>
  </div>
</ab-side-menu>
