.filter-breadcrumb {
  font-family: "Fredoka One", fantasy;
  color: #858585;
}
.filter-title {
  font-family: "Fredoka One", cursive;
  color: #e18b34;
}
.filter-title::before {
  content: "[ ";
  font-family: "always", fantasy;
}

