<po-tabs>
    <po-tab p-label="Informação complementar"
        p-active="true">
        <form #produtoEditForm="ngForm">

            <po-input class="po-md-12" 
                name="tamanhoAmigabel" 
                [(ngModel)]="complementaryProductInformation.friendlySize" 
                p-label="Tamanho amigável">
            </po-input>
        
            <po-input class="po-md-12" 
                name="caracateristica" 
                [(ngModel)]="complementaryProductInformation.feature" 
                p-label="Característica">
            </po-input>
        
            <po-textarea class="po-md-12" 
                name="descricaoAmigabel" 
                [(ngModel)]="complementaryProductInformation.friendlyDescription" 
                p-label="Descrição" 
                p-rows="3">
            </po-textarea>

            <po-textarea class="po-md-12" 
            name="descricaoSecundaria" 
            [(ngModel)]="complementaryProductInformation.secondDescription" 
            p-label="Nome E-commerce" 
            p-rows="3">
            </po-textarea>

            <po-textarea class="po-md-12" 
                name="palavrasChaves" 
                [(ngModel)]="complementaryProductInformation.keyWords" 
                p-label="Palavras chaves" 
                p-rows="3"
                p-help="Separe as palvras por virgula (,)">
            </po-textarea>
        
        </form>
    </po-tab>

    <po-tab p-label="Fotos">
        
        <po-button p-label="Uplaod" 
                (p-click)="modalUpload.open(); 
                           upload.clear()">
        </po-button>
        
        <po-modal #modalUpload>

            <po-upload #upload name="upload"
                p-label="Adicionar imagens"
                [p-url]="uploadApi"
                p-drag-drop="true"
                p-multiple="true"
                p-auto-upload="true"
                [p-restrictions]="restrictions"
                p-hide-restrictions-info="false"
                (p-success)="modalUpload.close(); uploadSuccess()"
                (p-upload)="includeReferenceInTheRequest($event)">
                
            </po-upload>
                
        </po-modal>

        <po-divider></po-divider>
        
        <po-container p-height="335"
            p-no-border="true">

            <div *ngFor="let item of productPhotos">
    
                <div class="po-row">                
    
                    <div class="po-md-4">
    
                        <po-widget 
                            [p-background]="item.photo" 
                            p-height=200>
                        </po-widget>
    
                    </div>
    
                    <div class="po-md-4">
    
                        <po-switch [(ngModel)]="item.webSiteCover"
                            p-label="Capa site"
                            p-label-off="Não"
                            p-label-on="Sim"
                            (p-change)="switchSiteCover(item)">
            
                        </po-switch>     
                        
                        <po-switch [(ngModel)]="item.erpCover"
                            p-label="Capa Erp"
                            p-label-off="Não"
                            p-label-on="Sim"
                            (p-change)="switchErpCover(item)">
            
                        </po-switch>

                        <po-button p-icon="po-icon po-icon-delete"
                            p-small="true"
                            p-type="danger"
                            p-tooltip="Deletar"
                            (p-click)="deleteImage(item)">

                        </po-button>

                    </div>
                        
                </div>
                
            </div>
            
        </po-container>
    </po-tab>

  </po-tabs>