ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  font-family: "Fredoka One", cursive;
}
ul.breadcrumb li {
  display: inline;
  font-size: 13px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #858585;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #858585;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #e18b34;
}
ul.breadcrumb li span {
  color: #e18b34;
}

.description {
  color: #e18b34;
  font-family: "Fredoka One", cursive;
}

.description span {
  font-size: 18px;
  font-family: "always", cursive;
}

.description h2,
h4,
p,
span {
  color: #858585;
}

.description p {
  font-size: 12px;
}

.see-too h1 {
  color: #e18b34;
  font-family: "Fredoka One", cursive;
}

.purchase-button {
  background-color: #57504a;
  width: 24px;
  height: 24px;

  border-radius: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 12px;

  transition: all 0.5s;
  user-select: none;
}
.purchase-button span {
  color: white;
  font-family: "Fredoka One", cursive;
  cursor: pointer;
  transition: 0.5s;
}
.noStock, .nothing-to-show, .wait {
  font-family: "Fredoka One", cursive;
  color: #858585;
}

.wave {
  background-position: center;
  transition: background 0.8s;
}
.wave:hover {
  background: #e18b34 radial-gradient(circle, transparent 1%, #e18b34 1%) center/15000%;
}
.wave:active {
  background-color: #858585;
  background-size: 100%;
  transition: background 0s;
}

.button-bag {
  background-color: #57504a;
  border-radius: 20px;
  font-family: "Fredoka One", cursive;
  height: 40px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;

  transition: all 0.5s;
  outline: 0;
  border: none;
}

.disabled {
  cursor: not-allowed;
  pointer-events:none;
  background-color:gainsboro;

}
