<po-page-default class="po-mb-5">
  <ab-search></ab-search>
  <div class="po-row" *ngIf="!load; else animation" [@slideIn]>
    <div *ngIf="product; else productNotFound">
      <div class="po-md-5">
        <div class="po-row">
          <po-slide
            *ngIf="showSlide; else slideDebounce"
            class="po-mt-2"
            p-height="500"
            [p-slides]="product?.photos"
          ></po-slide>
          <ng-template #slideDebounce>
            <h1 class="wait">
              Aguarde...
            </h1>
          </ng-template>
        </div>
      </div>

      <div class="po-md-3 description">
        <po-divider></po-divider>
        <div>
          <h4>Descrição</h4>
          <p>{{ product?.complementary?.friendlyDescription | lowercase }}</p>
        </div>
        <po-divider></po-divider>
        <div>
          <h4>Composição</h4>
          <p>{{ product?.complementary?.feature | lowercase }}</p>
        </div>
        <po-divider></po-divider>
        <div>
          <h4>Tamanhos</h4>
          <p>{{ product?.complementary?.friendlySize | lowercase }}</p>
        </div>
        <po-divider></po-divider>
        <div>
          <h4>Mapa</h4>
          <p>{{ product?.map | lowercase }}</p>
        </div>
        <po-divider></po-divider>
        <h4>Totais</h4>
        <div class="po-row">
          <div class="po-md-6">
            <p>Peças</p>
            <h4>{{ getTotalPurchase() }}</h4>
          </div>

          <div class="po-md-6">
            <p>Total</p>
            <h4>{{ getTotalPurchase() * product.price | currency: "BRL" }}</h4>
          </div>
        </div>
        <po-divider></po-divider>
        <button
          [class.disabled]="getTotalPurchase() == 0 || product.price == 0"
          class="po-md-12 button-bag wave"
        >
          Confirmar
        </button>
      </div>

      <div class="po-md-4 description">
        <po-divider></po-divider>

        <div>
          <h3>{{ product?.model }}</h3>
          <span>ref.: {{ product?.reference }}</span>
        </div>
        <div class="po-mt-3">
          <span>compre por</span>
          <h2>{{ product?.price | currency: "BRL" }}</h2>
          <span>venda por</span>
          <h3>{{ product?.originPrice | currency: "BRL" }}</h3>
        </div>

        <po-divider></po-divider>

        <div *ngIf="product?.balance.length > 0; else noStock">
          <h4>Pedido</h4>

          <po-tabs>
            <po-tab
              [p-active]="i == 0"
              [p-label]="item.color"
              *ngFor="let item of product?.balance; let i = index"
            >
              <div class="po-row">
                <a
                  class="purchase-button wave"
                  (click)="item.grid = item.grid - 1"
                  ><span>-</span></a
                >

                <po-number
                  class="po-md-6"
                  [(ngModel)]="item.grid"
                  (p-change-model)="grid(item, $event)"
                ></po-number>
                <a
                  class="purchase-button wave"
                  (click)="item.grid = item.grid + 1"
                  ><span>+</span></a
                >
              </div>
              <po-table
                [p-columns]="columSizes"
                [p-items]="item.balance"
                p-hide-columns-manager
              >
                <ng-template
                  p-table-cell-template
                  let-column="column"
                  let-row="row"
                >
                  <div *ngIf="column.property === 'purchase'">
                    <div class="po-row">
                      <a
                        class="purchase-button wave"
                        (click)="purchase('-', row)"
                        ><span>-</span></a
                      >
                      <po-number
                        class="po-md-6"
                        [(ngModel)]="row.purchase"
                      ></po-number>
                      <a
                        class="purchase-button wave"
                        (click)="purchase('+', row)"
                        ><span>+</span></a
                      >
                    </div>
                  </div>
                </ng-template>
              </po-table>
            </po-tab>
          </po-tabs>
        </div>
        <ng-template #noStock>
          <div class="flex-box">
            <h1 class="noStock">
              Produto sem estoque: (
            </h1>
          </div>
        </ng-template>
      </div>
    </div>
    <ng-template #productNotFound>
      <div class="flex-box">
        <h1 class="nothing-to-show">
          Nenhum produto encontrado :(
        </h1>
      </div>
    </ng-template>
  </div>
  <ng-template #animation>
    <app-animacao-entre-rotas></app-animacao-entre-rotas>
  </ng-template>

  <div
    *ngIf="!load && product?.relatedProducts.length > 0"
    [@slideIn]
    class="po-row see-too"
  >
    <h1>Veja também</h1>

    <div class="po-row">
      <ab-card-product
        *ngFor="let item of product?.relatedProducts"
        class="po-md-3 po-mb-2 card-product"
        [product]="item"
        [bagId]="bagHeadId"
      ></ab-card-product>
    </div>
  </div>
</po-page-default>
