<form #clienteForm="ngForm" p-autocomplete="off">
  <div class="po-row">

    <po-input
      class="po-md-3"
      name="documento"
      p-clean
      p-icon="po-icon po-icon-company"
      p-label="CNPJ"
      p-mask="99.999.999/9999-99"
      [(ngModel)]="clientEdit.document"
      p-required
      p-auto-focus
    >
    </po-input>

    <po-button
      p-label="Buscar"
      style="align-self: flex-end;"
      class="po-mb-1 po-ml-1"
      [p-disabled]="!clientEdit.document"
      (p-click)="consultCustomer()"
    ></po-button>
  </div>

  <po-divider p-label="Crédito"></po-divider>

  <div class="po-row">
    <div class="po-mb-1">
      <po-tag
        class="po-ml-1"
        p-inverse="true"
        [p-type]="creditLimitColor()"
        p-icon="true"
        p-value="Classificação: {{ creditRating }}"
      >
      </po-tag>

      <po-tag
        class="po-ml-1"
        p-inverse="true"
        [p-type]="creditLimitColor()"
        p-icon="true"
        p-value="Limite de crédito: {{
          clientEdit.creditLimit | currency: 'BRL'
        }}"
      >
      </po-tag>
    </div>
  </div>

  <po-divider p-label="Dados Cadastrais"></po-divider>

  <div class="po-row">
    <po-input
      class="po-md-3"
      name="razaoSocial"
      p-clean
      p-label="Razão Social"
      [(ngModel)]="clientEdit.companyName"
      p-required
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="nomeFantasia"
      p-clean
      p-label="Nome Fantasia"
      [(ngModel)]="clientEdit.fantasyName"
      p-required
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="inscricaoEstadual"
      p-clean
      p-label="Inscrição Estadual"
      [(ngModel)]="clientEdit.stateRegistration"
      p-required
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="inscricaoMunicipal"
      p-clean
      p-label="Inscrição Municipal"
      [(ngModel)]="clientEdit.municipalRegistration"
      p-optional
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="suframa"
      p-clean
      p-label="Suframa"
      [(ngModel)]="clientEdit.suframa"
      p-optional
    >
    </po-input>
  </div>

  <po-divider p-label="Endereço"></po-divider>
  <div class="po-row">
    <po-combo
      class="po-md-3"
      name="cidade"
      p-label="Cidade"
      [p-filter-service]="cityService"
      [(ngModel)]="clientEdit.cityId"
    >
    </po-combo>

    <po-input
      class="po-md-3"
      name="endereco"
      p-clean
      p-label="Endereço"
      [(ngModel)]="clientEdit.address"
      p-required
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="bairro"
      p-clean
      p-label="Bairro"
      [(ngModel)]="clientEdit.neighborhood"
      p-required
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="cep"
      p-clean
      p-label="CEP"
      [(ngModel)]="clientEdit.cep"
      p-mask="99999-999"
      p-required
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="complemento"
      p-clean
      p-label="Complemento"
      p-optional="true"
      [(ngModel)]="clientEdit.complement"
    >
    </po-input>
  </div>

  <po-divider p-label="Contatos"></po-divider>

  <div class="po-row">
    <po-input
      class="po-md-3"
      name="contato"
      p-clean
      p-label="Contato (Nome)"
      [(ngModel)]="clientEdit.contact"
      p-required
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="telefone"
      p-clean
      p-label="Telefone"
      [(ngModel)]="clientEdit.phone"
      p-mask="9999-9999?9"
      p-required
    >
    </po-input>

    <po-email
      class="po-md-3"
      name="email"
      p-clean
      p-label="E-mail"
      [(ngModel)]="clientEdit.email"
      p-required
    >
    </po-email>

    <div class="po-row">
      <app-client-new-contacts
        class="po-md-12"
        [contacts]="clientEdit.contacts"
      ></app-client-new-contacts>
    </div>
  </div>

  <po-divider p-label="Avaliação"></po-divider>

  <div class="po-row">
    <po-textarea
      class="po-md-12"
      name="avaliacao"
      p-clean
      p-label="Avaliação"
      [(ngModel)]="clientEdit.rating"
      p-maxlength="300"
      p-required
    >
    </po-textarea>
  </div>
</form>
