<p class="po-font-text-small">
  Escolha <strong>Filtro</strong> para adicionar por mapa e coleção.
</p>
<p class="po-font-text-small">
  Escolha <strong>Produto</strong> para adicionar produto a produto. Ou importar
  uma planilha com os códigos dos produtos.
</p>

<po-divider></po-divider>

<div class="po-row">
  <po-radio-group
    class="po-md-4"
    name="typeRestriction"
    p-label="Restringir por"
    [p-options]="[
      { label: 'Produto', value: 0 },
      { label: 'Filtro', value: 1 }
    ]"
    [(ngModel)]="salesOpportunity.typeRestrictionProduct"
    (p-change)="updateSalesOpportunity()"
  >
  </po-radio-group>
</div>

<po-divider></po-divider>

<div *ngIf="isByFilter(); else product">
  <div class="po-row">
    <po-combo
      class="po-md-2"
      p-label="Coleção"
      [(ngModel)]="filterProduct.collection"
      [p-filter-service]="serviceApiCollection"
    >
    </po-combo>

    <po-combo
      class="po-md-2"
      p-label="Mapa"
      [(ngModel)]="filterProduct.map"
      [p-filter-service]="serviceApiMap"
    >
    </po-combo>

    <po-datepicker
      class="po-md-2"
      p-label="Data de entrega"
      [(ngModel)]="filterProduct.deliveryDate"
    ></po-datepicker>

    <po-button class="po-mt-4" p-icon="po-icon-plus" (p-click)="add()">
    </po-button>
  </div>

  <po-table
    [p-columns]="columns"
    [p-items]="filterProducts"
    [p-actions]="actions"
  >
    <ng-template p-table-cell-template let-column="column" let-row="row">
      <div *ngIf="column.property === 'deliveryDate'">
        <po-datepicker
          [(ngModel)]="row.deliveryDate"
          (p-change)="updateDeliveryDate(row)"
        ></po-datepicker>
      </div> </ng-template
  ></po-table>
</div>

<ng-template #product></ng-template>
