<form #contatoForm="ngForm">
  <div class="po-row">
    <po-button
      *ngIf="showForm; else novo"
      p-icon="po-icon po-icon-plus"
      p-label="Mais contatos"
      (p-click)="showForm = !showForm"
    ></po-button>

    <ng-template #novo>
      <po-divider p-label="Novo contato" class="po-md-12"></po-divider>
      <po-input
        #type
        class="po-md-3"
        name="type"
        p-clean
        p-placeholder="Pessoal, casa..."
        p-label="Contato (Tipo)"
        [(ngModel)]="contact.type"
        p-auto-focus
        p-required
      >
      </po-input>
      <po-input
        #name
        class="po-md-3"
        name="name"
        p-clean
        p-label="Contato (Nome)"
        [(ngModel)]="contact.name"
        p-required
      >
      </po-input>

      <po-input
        class="po-md-3"
        name="phone"
        p-clean
        p-label="Telefone"
        [(ngModel)]="contact.phone"
        p-mask="(99) 9999-9999?9"
        p-required
      >
      </po-input>

      <po-email
        class="po-md-3"
        name="email"
        p-clean
        p-label="E-mail"
        [(ngModel)]="contact.email"
        p-required
      >
      </po-email>

      <po-button
        style="align-self: flex-end;"
        class="po-mb-1 po-ml-1"
        p-icon="po-icon po-icon-plus"
        [p-disabled]="contatoForm.invalid"
        p-tooltip="Adicionar"
        (p-click)="add(); type.focus()"
      ></po-button>

      <po-button
        style="align-self: flex-end;"
        class="po-mb-1 po-ml-1"
        p-icon="po-icon po-icon-delete"
        p-tooltip="Cancelar"
        (p-click)="showForm = !showForm"
      ></po-button>
    </ng-template>
  </div>

  <div class="po-row">
    <div class="po-md-12">
      <po-table
        class="po-xl-6 po-md-6 po-sm-12"
        [p-items]="contacts | maskArray: 'telefone':'(99) 9999-9999?9'"
        [p-columns]="columns"
      >
      </po-table>
    </div>
  </div>
</form>
