<po-widget  
    p-height="300"
    p-title="{{ product.model.length >= 18 ? 
                (( product.reference + ' - ' + product.model) | slice : 0 : 26) + '..' : 
                (( product.reference + ' - ' + product.model)) }}"
    [p-background]="product.coverPhoto"
    (p-click)="loadData()">
    
    <div  class="fundo-branco">
        <po-container p-height="200"
            p-no-shadow="true"
            p-no-border="true">
        
            <po-info p-label="Tamanho" 
                [p-value]="product.friendlySize">
            
            </po-info>
    
            <po-info p-label="Caracteristica" 
                [p-value]="product.feature">
            
            </po-info>

            <po-info p-label="Descrição" 
                [p-value]="product.friendlyDescription">
            
            </po-info>
        </po-container>
    </div>
</po-widget>