<div style="height: 100%;"
  [class.po-wrapper]="
    (auth.Authenticated$() | async) && (menuService.showMenu | async)
  "
>
  <app-toolbar></app-toolbar>

  <po-menu
    *ngIf="(auth.Authenticated$() | async) && (menuService.showMenu| async)"
    p-filter="true"
    [p-menus]="menuService.getMenu(tokenService.Claims.accessLevel)"
    [p-collapsed]="false"
    p-short-logo="../../assets/logo2.png"
  >
  </po-menu>

  <router-outlet></router-outlet>
</div>
<app-animacao-entre-rotas
  [exibirAnimacaoDeRota]="exibirAnimacaoDeRota"
></app-animacao-entre-rotas>
