<app-animacao-entre-rotas [exibirAnimacaoDeRota]="exibirAnimacaoDeRota">
  <div
    [class.po-wrapper]="
      (auth.Autenticado$() | async) && !(menuService.exibirMenu | async)
    "
    style="height: 100%;"
  >
    <app-toolbar></app-toolbar>

    <po-menu
      *ngIf="(auth.Autenticado$() | async) && !(menuService.exibirMenu | async)"
      p-filter="true"
      [p-menus]="menuService.getMenu(tokenService.DadosDoUsuario.nivelDeAcesso)"
      [p-collapsed]="true"
      p-short-logo="../../assets/logo2.png"
    >
    </po-menu>

    <router-outlet></router-outlet>
  </div>
</app-animacao-entre-rotas>
