<ng-container *ngIf="!routeLoading; else AnimacaoDeRota">

  <ng-container *ngIf="auth.Autenticado$() | async; else elseTemplate">
    
    <div [class.po-wrapper]="(auth.Autenticado$() | async) && !isHome">
  
      <po-toolbar *ngIf="(auth.Autenticado$() | async)" [p-profile]="profileService.profile"
        [p-profile-actions]="profileActions" p-title="AlphaBuy" p-actions-icon="po-icon-cart" [p-actions]="actions"
        [p-notification-actions]="notificationActions">
      </po-toolbar>
  
      <po-menu #meuMenu *ngIf="(auth.Autenticado$() | async) && !isHome" p-filter="true" [p-menus]="menuFiltrado"
        [p-collapsed]="true">
      </po-menu>
  
  
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    
    <router-outlet></router-outlet>
  </ng-template>
  
  
</ng-container>


<ng-template #AnimacaoDeRota>
  <div class="logo">
    <img src="../assets/logo2.png" width="50px" alt="" class="center img-logo">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>