<po-page-default p-title="Cadastro de cliente">
  <po-stepper #stepper>
    <po-step
      p-label="Informações básicas"
      [p-can-active-next-step]="validarInformacaoesBasicas.bind(this, infoBasica.clienteForm)"
    >
      <po-widget
        p-primary-label="Avançar"
        (p-primary-action)="stepper.next()"
        p-no-shadow="true"
      >
        <app-cliente-informacoes-basicas #infoBasica [clienteEdit]="clientEdit">
        </app-cliente-informacoes-basicas>
      </po-widget>
    </po-step>

    <po-step
      p-label="Referências comerciais"
      [p-can-active-next-step]="validarReferenciasComerciais.bind(this, referenciaComercial.referenciasComerciais)"
    >
      <po-widget
        p-primary-label="Avançar"
        (p-primary-action)="stepper.next()"
        p-title="Inclua ao menos 3 fornecedores"
        p-no-shadow="true"
      >
        <app-referencia-comercial
          #referenciaComercial
          [referenciasComerciais]="clientEdit.referenciasComerciais"
        ></app-referencia-comercial>
      </po-widget>
    </po-step>

    <po-step
      p-label="Fotos do ponto"
      [p-can-active-next-step]="validarFotosDoPonto.bind(this, fotosDoProduto.fotos)"
    >
      <po-widget
        p-primary-label="Avançar"
        (p-primary-action)="stepper.next()"
        p-title="Inclua as fotos conforme indicado"
        p-no-shadow="true"
      >
        <app-fotos-do-ponto
          #fotosDoProduto
          [cnpj]="clientEdit.documento"
          [fotos]="clientEdit.fotos"
        ></app-fotos-do-ponto>
      </po-widget>
    </po-step>

    <po-step p-label="Revisão do cadastro + Finalizar">
      <po-widget
        p-primary-label="Finalizar"
        (p-primary-action)="incluir()"
        p-title="Revise o cadastro e clique em finalizar"
        p-no-shadow="true"
      >
        <app-revisao [cliente]="clientEdit"></app-revisao>
      </po-widget>
    </po-step>
  </po-stepper>
</po-page-default>
