<po-page-default 
    [p-breadcrumb]="breadcrumb" 
    p-title="Meu perfil"
    [p-actions]="actions">

    <div class="po-md-3">
 
        <div class="centralizar">
            <po-avatar [p-src]="profileService.profile.avatar"
                p-size="xl">
            
            </po-avatar>
        </div>
        
        <po-upload name="upload" p-label="Alterar imagem" 
            [p-url]="uploadApi"
            (p-upload)="addProfilePicture($event)"
            (p-success)="getProfile($event)"
            (p-error)="getError($event)">
        </po-upload>


    </div>

    <div class="po-md-4">

        <po-input name="nome" 
            [(ngModel)]="user.name"
            p-label="Nome">
        </po-input>
    
        <po-email name="email"
            [(ngModel)]="user.email"
            p-label="Email">
    
        </po-email>
    </div>

</po-page-default>
