<po-page-default>

    <div class="po-mb-5">
        
        <div class="po-md-1 po-mt-1">
            <img src="../../../assets/logo-alphabeto.png" alt="" width="150">
        </div>
        
        <div class="po-md-11">
            
            <h4 class="titulo-alphabeto tracking-in-expand">Vendas multicanal</h4>
        </div>
        
        
        <div class="po-m-1">
            
            <h2 class="titulo-alphabeto tracking-in-expand">Vestindo criança como criança!</h2>
            
            <div class="po-row po-mt-2">
                
                <div class="po-md-6 slide-in-left">
                    <app-card-menu
                    altura="600"
                    [menu]="menuDeVendas"
                    imagem="../../../assets/1.jpg"
                    titulo="Vendas">
                </app-card-menu>
            </div>
            
            <div class="po-md-6">
                
                <app-card-menu
                class="po-md-12  slide-in-right"
                altura="350"
                [menu]="menuDeAdministracao"
                    imagem="../../../assets/3.jpg"
                    titulo="Administração">
                </app-card-menu>
                
                <app-card-menu
                class="po-md-6 po-mt-2 slide-in-bottom"
                altura="230"
                [menu]="menuDeMarketing"
                imagem="../../../assets/4.jpg"
                titulo="Marketing">
            </app-card-menu>    

            <app-card-menu
                    class="po-md-6 po-mt-2 slide-in-bottom"
                    altura="230"
                    [menu]="menuAnalitico"
                    imagem="../../../assets/2.jpg"
                    titulo="Análises">
                </app-card-menu>                                        
                
            </div>
        </div>
        
    </div>
</div>
</po-page-default>