<div class="po-page-header-actions">
  <po-button p-label="Salvar" p-type="primary"></po-button>
</div>

<form #form="ngForm">
  <div class="po-row">
    <po-input
      class="po-mr-1 po-md-3"
      name="documento"
      [(ngModel)]="client.documento"
      p-mask="99.999.999/9999-99"
      p-label="CNPJ"
    >
    </po-input>

    <po-input
      class="po-mr-1 po-md-4"
      name="nomeFantasia"
      [(ngModel)]="client.nomeFantasia"
      p-label="Nome fantasia"
    >
    </po-input>

    <po-input
      class="po-md-4"
      name="razaoSocial"
      [(ngModel)]="client.razaoSocial"
      p-label="Razão social"
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="inscricaoEstadual"
      [(ngModel)]="client.inscricaoEstadual"
      p-label="Inscrição estadual"
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="inscricaoMunicipal"
      [(ngModel)]="client.inscricaoMunicipal"
      p-label="Inscrição municipal"
    >
    </po-input>

    <po-input
      class="po-md-3"
      name="suframa"
      [(ngModel)]="client.suframa"
      p-label="Suframa"
    >
    </po-input>
  </div>

  <po-divider p-label="Endereço"></po-divider>

  <div class="po-row">
    <po-combo
      class="po-mr-1 po-md-3"
      name="cidade"
      [p-filter-service]="cityApi"
      [(ngModel)]="client.cidadeId"
      p-label="Cidade"
    ></po-combo>

    <po-input
      class="po-mr-1 po-md-5"
      name="endereco"
      [(ngModel)]="client.endereco"
      p-label="Endereço"
    >
    </po-input>

    <po-input
      class="po-mr-1 po-md-3"
      name="bairro"
      [(ngModel)]="client.bairro"
      p-label="Bairro"
    >
    </po-input>

    <po-input
      class="po-mr-1 po-md-3"
      name="cep"
      [(ngModel)]="client.cep"
      p-label="Cep"
    >
    </po-input>

    <po-input
      class="po-mr-1 po-md-3"
      name="complemento"
      [(ngModel)]="client.complemento"
      p-label="Complemento"
    >
    </po-input>
  </div>
  <po-divider p-label="Contato"></po-divider>

  <div class="po-row">
    <po-input
      class="po-mr-1 po-md-3"
      name="contato"
      [(ngModel)]="client.contato"
      p-label="Contato"
    >
    </po-input>
    <po-input
      class="po-mr-1 po-md-3"
      name="telefone"
      [(ngModel)]="client.telefone"
      p-label="Telefone"
    >
    </po-input>
    <po-email
      class="po-mr-1 po-md-3"
      name="email"
      [(ngModel)]="client.email"
      p-label="Email"
    >
    </po-email>
  </div>
</form>
