<po-page-default>
  <ab-navbar [items]="opportunitys" (select)="opportunityActive = $event">
    <div class="po-row">
      <ab-banner
        class="po-md-12"
        [items]="opportunityActive?.banners"
      ></ab-banner>
    </div>

    <div class="po-row">
      <ab-filter
        #abFilter
        class="po-md-2"
        [opportunityActive]="opportunityActive"
        (getFilter)="getProducts($event)"
      ></ab-filter>

      <div class="po-md-9">
        <div class="po-row flex-box">
          <h4 class="body-title" *ngIf="abFilter.filterActive">
            {{
              abFilter.filterActive?.collection +
                " | " +
                abFilter.filterActive?.map +
                " | " +
                abFilter.categoryActive | lowercase
            }}
          </h4>
          <po-divider class="po-md-12"></po-divider>
        </div>
        <div class="po-row po-mt-1">
          <ab-card-product
            class="po-md-4 po-mb-2 card-product"
            [product]="item"
            [listPriceId]="abFilter.priceActive?.id"
            *ngFor="let item of products"
          ></ab-card-product>
        </div>
      </div>
    </div>
  </ab-navbar>
</po-page-default>
