<po-page-default class="po-mb-5" [hidden]="productNavService.showProductNav | async " >
  <div class="po-row">
    <ab-banner
      *ngIf="showBanner"
      class="po-md-12"
      [items]="(catalogServices.opportunityActive | async)?.banners"
    ></ab-banner>
  </div>

  <div class="po-row">
    <ab-filter
      #abFilter
      class="po-md-2"
      [opportunityActive]="catalogServices.opportunityActive | async"
      (getFilter)="getProductsByClick($event)"
      (search)="getProductByCod($event)"
      [bagId]="bagHead?.id"
    ></ab-filter>

    <div class="po-md-10 po-mb-5">
      <div *ngIf="groups.length > 0; else nothingToShow">
        <ab-showcase
          *ngFor="let group of groups"
          [groupProduct]="group"
          (cardProductClick)="productNavService.show()"
          [bagId]="bagHead?.id"
        >
        </ab-showcase>
        <div class="po-md-12 flex-box po-mb-5">
          <a class="button-more-load" *ngIf="showMoreLoad" (click)="loadMore()"
            ><span>carregar mais</span></a
          >
        </div>
      </div>
      <ng-template #nothingToShow>
        <div class="flex-box">
          <h1 class="nothing-to-show">
            Nenhum produto encontrado :(
          </h1>
        </div>
      </ng-template>
    </div>

    <div
      class="fab-info flex-box"
      *ngIf="showFabButton"
      [@entrance]
      (click)="goToTop()"
    >
      <h1>↑</h1>
    </div>
  </div>
</po-page-default>

<div class="product-nav" [style.width]="(productNavService.showProductNav | async)  ? '100%' : 0">
  <a class="closebtn" (click)="productNavService.hide()">&times;</a>
  <router-outlet></router-outlet>
</div>


<po-modal  [p-primary-action]="bagModalPrimaryAction">
  <app-bag ></app-bag>
</po-modal>
