<div *ngFor="let item of fotos">
  <div class="po-row">
    <div class="po-row">
      <po-upload
        [p-label]="item.dataFoto.posicaoDaFoto | posicaoToString"
        [p-url]="serviceApi"
        p-auto-upload="true"
        (p-success)="retornoComSucesso($event, item)"
        (p-upload)="setDataFoto($event, item)"
      >
      </po-upload>
    </div>

    <div class="po-row">
      <po-avatar [p-src]="item?.url == null ? fotoPadrao : item.url">
      </po-avatar>
    </div>
  </div>
  <po-divider></po-divider>
</div>
