<po-page-list
  p-title="Fotos de produto"
  [p-disclaimer-group]="disclaimerGroup"
  [p-filter]="poPageFilter"
>
  <po-popover
    [p-target]="poButton"
    p-trigger="click"
    p-position="left-top"
    p-title="Informações do mapa"
  >
    <div class="row">
      <div class="po-md-10">
        <po-progress
          p-info="{{ totalItemsWithPhoto() }}/ {{ totalItems() }}"
          p-info-icon="po-icon-ok"
          [p-status]="progressStatus"
          p-text="Produtos com foto"
          [p-value]="progressOfAddingPhotos()"
        >
        </po-progress>
      </div>

      <div class="po-md-2">
        <po-switch
          name="filtroSemFoto"
          p-help="Sem foto"
          p-label-off="Não"
          p-label-on="Sim"
          p-tooltip="Exibir somente itens sem foto"
          p-tooltip-position="left"
          [(ngModel)]="showOnlyProductsWhithoutPhotos"
          (p-change)="
            showOnlyProductsWhithoutCover = false;
            showOnlyProductWhithourFeature = false
          "
        >
        </po-switch>
      </div>
    </div>

    <div class="row">
      <po-divider class="po-md-12"></po-divider>

      <div class="po-md-10">
        <po-progress
          p-info="{{ totalItemsCover() }}/ {{ totalItems() }}"
          p-info-icon="po-icon-ok"
          [p-status]="progressStatus"
          p-text="Produtos com capa"
          [p-value]="progressIncludeCover()"
        >
        </po-progress>
      </div>
      <div class="po-md-2">
        <po-switch
          name="filtroSemCapa"
          p-help="Sem capa"
          p-label-off="Não"
          p-label-on="Sim"
          p-tooltip="Exibir somente itens sem capa"
          p-tooltip-position="left"
          [(ngModel)]="showOnlyProductsWhithoutCover"
          (p-change)="
            showOnlyProductsWhithoutPhotos = false;
            showOnlyProductWhithourFeature = false
          "
        >
        </po-switch>
      </div>
    </div>

    <div class="po-row">
      <po-divider class="po-md-12"></po-divider>

      <div class="po-md-10">
        <po-progress
          p-info="{{ totalItemsFeature() }}/ {{
            totalItems()
          }}"
          p-info-icon="po-icon-ok"
          [p-status]="progressStatus"
          p-text="Produtos com caracteristica"
          [p-value]="progressIncludeFeature()"
        >
        </po-progress>
      </div>
      <div class="po-md-2">
        <po-switch
          name="filtroSemCaracteristica"
          p-help="Sem caracteristicas"
          p-label-off="Não"
          p-label-on="Sim"
          p-tooltip="Exibir somente itens sem caracteristicas"
          p-tooltip-position="left"
          [(ngModel)]="showOnlyProductWhithourFeature"
          (p-change)="
            showOnlyProductsWhithoutPhotos = false;
            showOnlyProductsWhithoutCover = false
          "
        >
        </po-switch>
      </div>
    </div>
  </po-popover>

  <po-container
    class="fab-info"
    p-no-padding="true"
    [hidden]="!productPhotos.length"
  >
    <po-button p-icon="po-icon po-icon-info" p-small="true" p-type="primary">
    </po-button>
  </po-container>

  <ng-container *ngIf="productPhotos.length; else noItens">
    <virtual-scroller
      #scroll
      [items]="filteredProducts()"
      bufferAmount="4"
      style="height: 100%;"
    >
      <app-product-view
        *ngFor="let item of scroll.viewPortItems"
        class="po-xl-3 po-lg-3 po-md-4 po-sm-12 po-mb-1"
        [product]="item"
        (getDetails)="openEditModal(item)"
      >
      </app-product-view>
    </virtual-scroller>
  </ng-container>
  <ng-template #noItens>
    <app-common-presentation
      setor="Setor de Marketing"
      mensagem="Repositório de imagens alphabeto"
      [buttons]="buttons"
    ></app-common-presentation>
  </ng-template>
</po-page-list>

<po-modal
  #advancedFilter
  p-title="Filtro avançado"
  [p-primary-action]="advancedFilterPrimaryAction"
>
  <form #f>
    <div class="po-row">
      <div class="po-md-6">
        <po-combo
          name="colecaoSelecionada"
          [(ngModel)]="selectedCollection"
          p-label="Coleção"
          [p-options]="collections"
        >
        </po-combo>
      </div>

      <div class="po-md-6">
        <po-combo
          name="mapaSelecionado"
          [(ngModel)]="selectedMap"
          p-label="Mapa"
          [p-options]="maps"
        >
        </po-combo>
      </div>
    </div>
  </form>
</po-modal>

<po-modal
  #productEditModal
  [p-title]="titleProductEditModal"
  [p-primary-action]="saveProduct"
>
  <app-product-edit> </app-product-edit>
</po-modal>
