/* You can add global styles to this file, and also import other style files */

@import "./preloaders.css";
@import "./animista.css";
/* @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); */

@font-face {
  font-family: always;
  src: url('./assets/always.ttf') format("opentype");
}

:root {
  --color-primary: #e18b34;
  --color-toolbar-color-title: var(--color-primary);
  --color-page-header-color-title: var(--color-primary);
  --color-widget-color-default: black;
  --color-page-login-background-color: white;

  --color-button-group-background-selected: var(--color-primary);
  --color-button-group-border-selected: var(--color-primary);
  /* --font-family-theme-bold: "Fredoka One" */
}

.po-toolbar-title {
  font-family: "Fredoka One", cursive;
}

.titulo-alphabeto {
  font-family: "Fredoka One", cursive;
  color: var(--color-primary);
  text-align: center;
}

.white {
  color: #ffffff;
}

.orange-background {
 background-color: #e18b34;
}

.cursor-hand {
  cursor: pointer;
}

.centralizar {
  margin: 0 auto;
  width: 50%;
}

.img-border {
  border-radius: 3px;
  box-shadow: 5 px 5px 5px whitesmoke;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  overflow: hidden;
}
