
.filter {
    font-family: "Fredoka One", cursive;
    color: #858585;
    transition: 0.3s;
    height: 0;
  }
  .filter-active {
    color: #e18b34;
  }
  .filter-active:hover {
    color: #e18b34;
  }
  .filter-title {
    font-family: "always", cursive;
    color: #858585;
    font-size: 32px;
    cursor: pointer;
  }
  .filter-box{
    display: block;
  }


