<form #contatoForm="ngForm">
  <div class="po-row">
    <po-button
      *ngIf="mostrarFormulario; else novo"
      p-icon="po-icon po-icon-plus"
      p-label="Mais contatos"
      (p-click)="mostrarFormulario = !mostrarFormulario"
    ></po-button>

    <ng-template #novo>
      <po-divider p-label="Novo contato" class="po-md-12"></po-divider>
      <po-input
        #nome
        class="po-md-3"
        name="nome"
        p-clean
        p-label="Contato (Nome)"
        [(ngModel)]="contato.nome"
        p-auto-focus
        p-required
      >
      </po-input>

      <po-input
        class="po-md-3"
        name="telefone"
        p-clean
        p-label="Telefone"
        [(ngModel)]="contato.telefone"
        p-mask="(99) 9999-9999?9"
        p-required
      >
      </po-input>

      <po-email
        class="po-md-3"
        name="email"
        p-clean
        p-label="E-mail"
        [(ngModel)]="contato.email"
        p-required
      >
      </po-email>

      <po-button
        style="align-self: flex-end;"
        class="po-mb-1 po-ml-1"
        p-icon="po-icon po-icon-plus"
        [p-disabled]="contatoForm.invalid"
        p-tooltip="Adicionar"
        (p-click)="incluir(); nome.focus()"
      ></po-button>

      <po-button
        style="align-self: flex-end;"
        class="po-mb-1 po-ml-1"
        p-icon="po-icon po-icon-delete"
        p-tooltip="Cancelar"
        (p-click)="mostrarFormulario = !mostrarFormulario"
      ></po-button>
    </ng-template>
  </div>
  
  <div class="po-row">
    <div class="po-md-12">
      <po-table
        class="po-xl-6 po-md-6 po-sm-12"
        [p-items]="contatos | maskArray: 'telefone':'(99) 9999-9999?9'"
        [p-columns]="columns"
      >
      </po-table>
    </div>
  </div>
</form>
